

<form action="/brands/{{brandId}}/players" method="POST">

<label for="name">Name</label>
<input type="text" name="name" required="true">

<label for="sport">Sport</label>
<input type="text" name="sport" required="true">

<label for="team">Team</label>
<input type="text" name="team" required="true">

<label for="shoe">Shoe</label>
<input type="text" name="shoe" required="true">

<label for="price">Price</label>
<input type="number" name="price" required="true">

<input type="submit" value="Create" >

</form>