<div>
    <a href="/">Home</a>
    <br/>
    <a href="/users">Users</a>
    <br/>
    <a href="/brands">Brands</a>
</div>

<div>
    <h1>{{user.name}}</h1>

    <h3>Favorite Brand: {{user.favoriteBrand}}</h3>

</div>
<div>
    <a href="/users/{{user._id}}/edit">Edit</a>
</div>
<div>
    <a href="/users/{{user._id}}/delete">Delete</a>
</div>