<div>
    <a href="/">Go Home</a>
</div>
<div>

    <h1>Major Brands Associated with Athletic Shoe Deals</h1>


    <h3>The Front Runners:</h3>

    <br> 
    
    {{#each brands}}
    <div>
        {{this.name}} <a href="/brands/{{this._id}}"> info</a>
    </div>
    <div>
        
        <a href="/brands/{{this._id}}/players">{{this.name}} Athletes</a>
    </div>
    <br>

</div>


{{/each}}
<div>
    <a href="/brands/new">Add A New Brand</a>
</div>
</div>