<div>
    <h1>{{brand.name}}</h1>

    <h2>Location: {{brand.location}}</h2>
    <div>
        <a href="/brands">back to brands</a>
    </div>
    <div>
        <a href="/brands/{{brand._id}}/delete">DELETE</a>
    </div>
</div>